@import "./Form.scss";

.main-page{
    text-align: left;
}

.actions, .invoices-list {
    @include border();
    background: #fff;
}

.actions {
    margin-bottom: 20px;
}

.table-btn {
    button {
        &:first-child {
            margin-right: 20px;
        }
    }
}